<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">
    Thanks for submiting a query <%= @query_product.query_name %>!
  </h4>
  <hr>
  <p>Our team will get in contact with you as soon as posible.</p>
</div>
