<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for your query <%= @query_product.query_name %>!</h3>
    <br>
    <br>
    <p>Query detail:<br>
    --------------------------
    <p><%= @query_product.query_text %></p>
    <br>
    <p>Our team is going to respond as soon as possible<br>
    --------------------------
    </p>

    <p>In the meantime search for other products in tienda-codigo</p>

  </body>
</html>