<table>
  <thead>
    <tr>
        <th class="cell-label">Name</th>
        <th class="cell-label">Description</th>
        <th class="cell-label">Price</th>
        <th class="cell-label">Image</th>
        <th class="cell-label">Fav Counter</th>
        <th class="cell-label">Queries Counter</th>
    </tr>
  </thead>

  <tbody>
    <%= render products %>
  </tbody>
</table>

